html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    color: White;
    font-family: cursive;
    background: black;
  }

  h2{
    font-family: cursive;
  }

  h4{
    font-family: cursive;
  } 

.group{
    font-family: cursive;
    font-size: 30px;
    color: rgb(95, 94, 94);
}

  /* Create two unequal columns that floats next to each other */
  /* Right column */
  .rightcolumn {
    float: left;
    width: 75%;
  }

  /* Left column */
  .leftcolumn {   
    float: left;
    width: 25%;
    padding-left: 20px;
  }

.miniImg {
    width: 100%;
    padding: 20px;
  }

  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 5%;
    margin-top: 20px;
 }
 
   .card-body {
     padding: 0 !important;
  }
  
 .card-width {
   width: 90%;
 }

 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 